<!DOCTYPE html>
<html>

<head>
    <link href= "{{url_for('static', path = '/style.css')}}" rel="stylesheet">
    <title>Search Service Data</title>

</head>

<body>
    <header>
       <nav>
            <ul>
                <li><a href="/get_shortest_path">Get shortest Path</a></li>
                <li><a href="/criteria_search/search_mashup_e">Search Mashups by Criteria series</a></li>
                <li><a href="/keyword_search/search_api_e">Search APIs by Keywords</a></li>
                <li><a href="/keyword_search/search_mashup_e">Search Mashups by Keywords</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>